.blockie {
  $size: 18px;
  $size-hover: 24px;

  background-size: cover;
  border-radius: $size / 2;
  display: inline-block;
  height: $size;
  width: $size;
  vertical-align: middle;
  position: relative;
  top: -2px;
  cursor: default;
  margin: (($size-hover - $size) / 2);
  transition: all .3s ease;

  &:hover {
    z-index: 2;

    height: $size-hover;
    width: $size-hover;
    border-radius: $size-hover / 2;
    margin: 0;
  }

  &[data-address]:hover:before {
    box-sizing: border-box;
    content: attr(data-address);
    display: block;
    position: absolute;
    top: $size + 10px;
    border-radius: 4px;
    padding: 2px 8px;
    width: 120px;
    left: (-120px - 8px + $size-hover) / 2;
    background: rgba(0, 0, 0, .6);
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    z-index: 2;
  }
}

.bet {
  padding: 6px 0;
}
