<mat-toolbar [class.visible]="(connected$ | async) === 'total'" class="header header--primary" color="primary">
  <span>{{token?.name}} wallet</span>
  <span>
    <a href="https://github.com/Pedro-vk/Bet-Token-wallet" target="_blank">
      <button mat-button color="accent">Check on GitHub</button>
    </a>
  </span>
</mat-toolbar>
<mat-toolbar [class.visible]="(connected$ | async) === 'total'" class="header header--secondary" color="accent">
  <span>
    <div class="blockie blockie--big" *ngIf="account" [style.background-image]="getImageOf(account)"></div>
    <span class="header__account">{{account}}</span>
  </span>
  <div class="header__balance">
    <div class="header__balance-row">Balance:<code> {{balance$ | async}} {{token?.symbol}}</code></div>
    <div class="header__balance-row" *ngIf="(balance$ | async) !== 0">
      Available:<code> {{availableBalance$ | async}} {{token?.symbol}}</code>
    </div>
    <div class="header__balance-row" *ngIf="(balance$ | async) === 0">
      <code class="link" (click)="dripToMe()">Claim a {{token?.symbol}}</code>
    </div>
  </div>
</mat-toolbar>

<div class="container" [class.visible]="(connected$ | async) === 'total'">
  <div class="container__side">
    <mat-card
      @openCloseHeight
      *ngIf="(pendingTransactions$ | async)?.length && (pendingTransactions$ | async) as txs"
      class="pending">

      <mat-card-header>
        <mat-card-title>Pending transactions</mat-card-title>
        <mat-card-subtitle>
          You can check the transactions status on Etherscan.
        </mat-card-subtitle>
      </mat-card-header>

      <mat-chip-list>
        <a
          *ngFor="let tx of txs; trackBy: trackTransaction"
          class="pending__tx"
          target="_blank"
          href="https://ropsten.etherscan.io/tx/{{tx.hash}}">

          <mat-chip>
            <code class="pending__hash">{{tx.hash}}</code>
            <mat-icon>open_in_new</mat-icon>
          </mat-chip>
          <div class="pending__tx-overlay"></div>
        </a>
      </mat-chip-list>
    </mat-card>

    <form #newBetForm="ngForm" novalidate class="new-bet" [class.new-bet--disabled]="creatingBet">
      <mat-card>
        <mat-card-header>
          <mat-card-title>New bet</mat-card-title>
          <mat-card-subtitle>
            <mat-icon>warning</mat-icon>
            You won't win the bet (your word is worth less than 1 {{token?.symbol}})
          </mat-card-subtitle>
        </mat-card-header>

        <mat-form-field class="new-bet__address" floatPlaceholder="never">
          <div
            matPrefix
            class="blockie blockie--prefix"
            [style.background-image]="newBet.against ? getImageOf(newBet.against) : ''">
          </div>
          <input
            matInput
            [(ngModel)]="newBet.against"
            type="text"
            name="newBetAgainst"
            placeholder="0x0000000000000000000000000000000000000000"
            required>
        </mat-form-field>

        <div class="new-bet__cols">
          <mat-form-field class="new-bet__amount">
            <span matSuffix>{{token?.symbol}}</span>
            <input
              matInput
              name="newBetAmount"
              type="number"
              placeholder="Amount"
              [(ngModel)]="newBet.amount"
              required
              [disabled]="(availableBalance$ | async) === 0"
              min="1"
              [max]="availableBalance$ | async">
          </mat-form-field>

          <div class="new-bet__cols-span"></div>

          <mat-form-field class="new-bet__bet">
            <input
              matInput
              name="newBetBet"
              type="text"
              placeholder="Bet message"
              [(ngModel)]="newBet.bet"
              required>
          </mat-form-field>
        </div>

        <div class="warn warn--close" *ngIf="(balance$ | async) === 0">
          <mat-icon>error</mat-icon>
          You haven't {{token?.name}} but you can
          <span class="link" (click)="dripToMe()">claim 1 {{token?.symbol}}</span>
        </div>

        <div class="warn warn--close" *ngIf="(balance$ | async) > 0 && (availableBalance$ | async) === 0">
          <mat-icon>error</mat-icon>
          You haven't {{token?.name}} available, get more or close your bets.
        </div>

        <mat-card-actions>
          <button mat-button (click)="newBetForm.reset()" type="button">Clear</button>
          <button
            mat-button
            color="primary"
            type="button"
            [disabled]="!newBetForm.valid && (availableBalance$ | async) !== 0"
            (click)="createBet()">

            Submit bet
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>

  <div class="container__side">
    <mat-accordion class="bets-list">
      <mat-expansion-panel
        *ngFor="let bet of myBets$ | async; trackBy: trackBet"
        class="bets-list__bet"
        [class.bets-list__bet--opened]="openedBet === bet.id"
        [expanded]="openedBet === bet.id"
        (opened)="openedBet = bet.id"
        (closed)="openedBet === bet.id ? openedBet = undefined : null"
        [hideToggle]="true">

        <mat-expansion-panel-header>
          <div class="bets-list__status bets-list__status--{{bet.accepted ? 'ok' : 'wait'}}"></div>
          <mat-panel-title class="bets-list__title-wrapper">
            <div class="bets-list__title">
              <div class="blockie" [style.background-image]="getImageOf(bet.from)">
                <mat-icon *ngIf="bet.from === account">account_circle</mat-icon>
              </div>
              <span class="bets-list__vs">VS.</span>
              <div class="blockie" [style.background-image]="getImageOf(bet.against)">
                <mat-icon *ngIf="bet.against === account">account_circle</mat-icon>
              </div>
            </div>
          </mat-panel-title>
          <mat-panel-description class="bets-list__description">
            <div class="bets-list__description-text">{{bet.bet}}</div>
            <div class="bets-list__description-amount">{{bet.amount}} {{token?.symbol}}</div>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="bets-list__address">
          <div class="blockie" [style.background-image]="getImageOf(bet.from)">
            <mat-icon *ngIf="bet.from === account">account_circle</mat-icon>
          </div><!--
       --><span class="bets-list__address-text">{{bet.from}}</span>
        </div>
        <div class="bets-list__address">
          <div class="blockie" [style.background-image]="getImageOf(bet.against)">
            <mat-icon *ngIf="bet.against === account">account_circle</mat-icon>
          </div><!--
       --><span class="bets-list__address-text">{{bet.against}}</span>
        </div>

        <mat-action-row>
          <div
            class="warn warn--align-right"
            *ngIf="bet.against.toLowerCase() === account.toLowerCase() && !bet.accepted && (availableBalance$ | async) < bet.amount">

            Not enought {{token?.name}} available
            <mat-icon>error</mat-icon>
          </div>

          <button mat-button
            *ngIf="bet.against.toLowerCase() === account.toLowerCase() && !bet.accepted"
            color="primary"
            (click)="accept(bet, true)"
            [disabled]="(availableBalance$ | async) < bet.amount"
            type="button">

            Accept
          </button>
          <button mat-button
            *ngIf="bet.against.toLowerCase() === account.toLowerCase() && !bet.accepted"
            color="warn"
            (click)="accept(bet, false)"
            type="button">

            Reject
          </button>
          <button mat-button
            *ngIf="bet.against.toLowerCase() === account.toLowerCase() && bet.accepted"
            color="primary"
            (click)="giveMeTheMoney(bet)"
            type="button">

            Give me the money
          </button>
          <button mat-button
            *ngIf="bet.from.toLowerCase() === account.toLowerCase()"
            color="primary"
            (click)="cryAndForgotBet(bet)"
            type="button">

            Cry and forgot the bet
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>

<div class="warning" *ngIf="(connected$ | async) === 'no-provider' && !clickedInstallMetaMask" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Wanna stupid bets?
    </div>
    <div class="warning__message">
      You’ll need a safe place to store all of your tokens!<br>
      The perfect place is in a secure wallet like MetaMask.<br>
      This will also act as your wallet login.
    </div>
    <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn?hl=en" target="_blank">
      <button mat-button color="primary" (click)="clickedInstallMetaMask = true">Install MetaMask</button>
    </a>
  </div>
</div>

<div class="warning" *ngIf="(connected$ | async) === 'no-provider' && clickedInstallMetaMask" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Finish installing MetaMask to continue
    </div>
    <div class="warning__message">
      Make sure you follow the instructions on MetaMask to finish the installation.
    </div>
    <button mat-button color="primary" (click)="reload()">I've installed MetaMask</button>
    <iframe width="100%" height="315" src="https://www.youtube.com/embed/tfETpi-9ORs?rel=0&amp;showinfo=0" frameborder="1" allowfullscreen=""></iframe>
  </div>
</div>

<div class="warning" *ngIf="(connected$ | async) === 'no-account'" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Your MetaMask is locked
    </div>
    <div class="warning__message">
      Simply open MetaMask and follow the instructions to unlock it.
    </div>
  </div>
</div>

<div class="warning" *ngIf="(connected$ | async) === 'no-network'" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      Oops, you’re on the wrong network
    </div>
    <div class="warning__message">
      Simply open MetaMask and switch over to the <strong>{{betTokenNetwork | titlecase}} Ethereum Network</strong>.
    </div>
  </div>
</div>

<div class="warning" *ngIf="(connected$ | async) === 'no-ether'" @easeInOut>
  <div class="warning-wrapper">
    <div class="warning__header">
      You have not Ether, but...
    </div>
    <div class="warning__message" [ngSwitch]="betTokenNetwork">
      <div *ngSwitchCase="'ropsten'">
        No problem, we are claiming some free Ether on {{betTokenNetwork | titlecase}} Ethereum Network.<br>
        Wait some seconds and you will receive it!
      </div>
      <div *ngSwitchCase="'rinkeby'">
        No problem, you can claim some
        <a class="link" href="https://faucet.rinkeby.io/" target="_blank">free Ether</a>
        on {{betTokenNetwork | titlecase}} Ethereum Network.
      </div>
      The Ether is necessary to make transactions, it's free on testnet.
    </div>
  </div>
</div>
